*{
    padding: 0;
    margin: 0;
}
.container{
    box-sizing: border-box;
    height: 80vh;
    width: 80vw;
    background-color: rgb(121, 170, 132);
    color: rgb(24, 19, 19);
    margin: 0 auto;
    padding: 30px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 30px;
}
.inproduct{
    display: flex;
}
.product-container{
    display: flex;
    width: 100%;
}
.card{
    margin: 20px 15px;
}
.card-img-top-washing{
    height: 133px;
}
/* .product-inside{
    display: flex;
    width: 30%;
    border: 2px solid rgb(143, 10, 10);
    margin: 15px 20px;
} */