<div class="container">
    <h1>Products</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt perspiciatis nulla saepe doloribus neque, sunt
        distinctio rerum tenetur. Iste, reprehenderit deleniti aliquam sequi vel eveniet earum id itaque modi quam.</p>
    <hr>

    <div class="inproduct">
        <div class="product-container">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="assets/How-to-Find-the-Model-Number-on-a-Laptop.webp"
                    alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Laptop</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a routerLink="laptop" class="btn btn-primary">Know More</a>
                </div>
            </div>

            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="assets/istockphoto-1271796936-612x612.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">TV</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a routerLink="tv" class="btn btn-primary">Know More</a>
                </div>
            </div>

            <div class="card" style="width: 18rem;">
                <img class="card-img-top-washing" src="assets/images.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Mobile</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a routerLink="mobile" class="btn btn-primary">Know More</a>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img class="card-img-top-washing" src="assets/large-capacity-fully-automatic-washing-machine.webp"
                    alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Washing M</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a routerLink="washingmachine" class="btn btn-primary">Know More</a>
                </div>
            </div>
        </div>
        <!-- <div class="product-inside">
            <router-outlet></router-outlet>
        </div> -->
    </div>
</div>